.error-message {
  background-color: #E9A1B6;
  color: #F8D1D2;
  text-align: center;
  font-size: 32px;
  border-radius: 3.2rem;
  padding: 1.2rem;
  margin-bottom: 1px;
}

.error-message.small {
  background-color: transparent;
  color: #E9A1B6;
  border: 1px solid #E9A1B6;
  font-size: 12px;
  padding: .2rem;
}

.error-message.away {
  margin-top: 1rem;
}
