.event-header {
  width: 100%;
  position: relative;
  overflow-x: auto;
  left: 0;
  right: 0;
}

.event-info {
  display: flex;
}

.event-info .event-data {
  margin-left: 1rem;
}

.event-info .event-buttons {
  margin-top: .4rem;
}
