.events-owners .events-owners-chunks {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-bottom: .5rem;
  scroll-margin-bottom: .5rem;
}

.events-owners .events-owners-chunks ul {
  list-style-type: none;
  flex: 0 0 auto;
}

.events-owners .events-owners-chunks ul:not(:last-child) {
  border-right: 1px dotted black;
  margin-right: .5rem;
}

.events-owners .events-owners-chunks ul li {
  margin: .1rem .1rem .1rem 0;
  padding: .2rem .4rem;
}

.events-owners .events-owners-chunks ul li:hover {
  background-color: #EEE;
}
