.events {
  display: flex;
  flex-direction: column;
}

.events table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 .5rem;
}

.events table thead tr th.event-head {
  text-align: left;
}

.events table thead tr th.event-head-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: .25rem;
  padding-right: 3rem;
}

.events table tbody tr {
  outline: thin dotted;
  border: 1px dotted #B5AEFF;
}

.events table tbody tr td {
  padding: .5rem;
}

.events table tbody tr td.event-cell-info {
  display: flex;
}

.events table tbody tr td.event-cell-info .event-image {
  text-align: center;
  overflow-wrap: break-word;
  max-width: 72px;
}

.events table tbody tr td.event-cell-info .event-id {
  display: block;
  cursor: pointer;
  font-size: 80%;
  margin: 4px;
}

.events table tbody tr td.event-cell-info .event-data {
  margin-left: 1rem;
}

.events table tbody tr td.event-cell-metrics {
  text-align: center;
}

.events .status-error-message {
  margin-left: .5rem;
}

.events .address-error-message {
  margin-top: .2rem;
  margin-bottom: .2rem;
  color: #e6698c;
}

.events .status-cached-ts {
  white-space: nowrap;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .events table,
  .events table thead,
  .events table tbody,
  .events table tbody tr,
  .events table tbody tr td {
    display: block;
  }

  .events table thead tr {
    display: none;
  }

  .events table tbody tr {
    margin: 0 0 1rem 0;
  }

  .events table tbody tr td.event-cell-progress {
    text-align: center;
  }
}
