.events-powers .event-power-card {
  display: inline-block;
  border: .1rem solid transparent;
  border-radius: 12px;
  margin: .2rem;
  overflow-wrap: break-word;
  width: 72px;
}

.events-powers.show-all .event-power-card.perfect {
  background-color: #eee;
  border-color: #cdcdcd;
}

.events-powers .event-power-card.selected {
  background-color: #7d73e2 !important;
  border-color: #473e6b !important;
}

.events-powers .event-power-card .event-select-button {
  background: transparent;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  margin: 4px;
  outline: none;
}

.events-powers .event-power-card .event-id {
  text-align: center;
  display: block;
  cursor: pointer;
  font-size: 80%;
  margin: 1px;
}

.events-powers .event-power-card.selected .event-id {
  color: white;
}
