.event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: scroll;
}

.event-header-info {
  width: 100%;
  display: flex;
  overflow-x: auto;
}

.event .caching, .event .caching-error, .event .cached {
  font-size: 11px;
  display: inline-block;
  background-color: white;
  padding: 1px 3px;
  border-radius: 7px;
  line-height: 1.8;
  margin-top: 3px;
}

.event .caching-error span.caching-error-label {
  font-size: 7px;
  border-radius: 7px;
  padding: 2px 6px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  background-color: #E9A1B6;
  color: #F8D1D2;
  border: 1px dashed #e76e90;
  margin-right: .5rem;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .event .in-common .active-events {
    top: 100%;
  }
}
