.in-common .event-button {
  background: transparent;
  border: .1rem solid transparent;
  border-radius: 12px;
  cursor: pointer;
  margin: .1rem;
}

.in-common .show-all .event-button.perfect {
  background-color: #eee;
  border-color: #cdcdcd;
}

.in-common .event-button.selected {
  background-color: #7d73e2 !important;
  border-color: #473e6b !important;
}

.in-common .event-button .event-image {
  display: inline-block;
  margin: 4px;
  width: 64px;
  height: 64px;
}

.in-common .show-more {
  display: inline-block;
  margin-left: .5rem;
}

.in-common .active-events {
  display: flex;
  overflow-x: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}

.in-common .active-event {
  position: relative;
}

.in-common .active-event .active-event-actions {
  position: absolute;
  top: 12px;
  right: 24px;
}

.in-common .active-event .active-event-owners {
  margin-bottom: .5rem;
  max-height: 57rem;
  overflow-y: scroll;
  scroll-margin-left: .5rem;
}

.in-common .active-event .close {
  margin-left: .5rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 50%;
  padding: .1rem;
}

.in-common .active-event .close svg {
  position: relative;
  top: 2px;
  text-align: center;
}

.in-common .active-event .close:hover {
  background-color: #eee;
  border-color: black;
  cursor: pointer;
}

.in-common .active-event h4 {
  margin-top: 1rem;
}

.in-common .active-event ul.owners {
  min-height: 101%;
  list-style-type: none;
  margin-bottom: .5rem;
}

.in-common .active-event .owners li {
  border: .2rem dashed transparent;
  margin: .1rem 0;
  padding: .2rem;
}

.in-common .active-event .owners li:hover {
  border-color: black;
}
