.page {
  height: 100%;
}

.corner-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -99;
}

@media only screen and (min-width: 1024px) {
  .page-aside {
    width: 4.2rem;
  }
  .page-content {
    margin-right: 4.7rem;
  }
  .logo-menu-card {
    background-color: transparent !important;
    border-color: transparent !important;
  }
  .logo-menu-content {
    display: block !important;
  }
  .logo {
    border: 1px solid transparent;
    border-radius: 3.25rem;
  }
  .logo:hover {
    background-color: white;
    border-color: #5e58a5;
  }
}
