.search {
  min-width: 23rem;
}

.search-form {
  position: relative;
}

.search-form input.query {
  background-color: #B5AEFF;
  border: 0;
  border-radius: 3.2rem;
  color: black;
  padding: 20px;
  width: 100%;
  padding-right: 100px;
}

.search-form input.query:focus {
  outline: none;
}

.search-form input.query::placeholder {
  color: white;
}

.search-form input.go {
  -webkit-appearance: none;
  appearance: none;
  background-color: #6692A4;
  background: linear-gradient(to bottom, #6692A4 0%);
  border: 0;
  border-radius: 3.2rem;
  color: white;
  padding: 15px;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.search-form input.go:hover {
  background-color: #C2E6F5;
  color: black;
  cursor: pointer;
}

.search-form input.go[disabled] {
  background-color: lightgrey !important;
  color: white !important;
  cursor: default;
}

.loading-element {
  position: relative;
  background: #CCC;
}
.loading-element:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100px);
  background: linear-gradient(90deg, transparent, #ffffff33, transparent);
  animation: loading 0.8s infinite;
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}

.search-error {
  margin-top: .5rem;
  border: 1px dotted #F8D1D2;
  border-radius: 3px;
}

.search-error p {
  padding: .5rem;
  color: #E9A1B6;
}

.search-header {
  margin-top: .5rem;
  text-align: right;
}

.search-header h3 {
  display: inline-block;
  margin-left: .5rem;
}

.search-header h3.soft {
  font-weight: normal;
  font-size: 90%;
}

.search-separator {
  border: 1px solid #6692A4;
  margin: .5rem 0;
}

.search-pagination {
  margin-top: .5rem;
}

.search-options {
  text-align: center;
}

.search-options .link, .search-options .text {
  font-size: 12px;
}

.search-options .link, .search-options .link:active {
  color: blue;
}

.search-options .link:hover {
  text-decoration: underline;
}

.drop-preview, .collection-preview {
  border: 1px dotted #B5AEFF;
  margin-top: .5rem;
  position: relative;
  overflow: hidden;
}

.collection-preview .collection-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  opacity: .4;
  border-radius: 0;
}

.drop-preview .drop-info, .collection-preview .collection-info {
  display: flex;
  padding: .5rem;
  gap: 1rem;
  margin: 0;
  height: auto;
  justify-content: inherit;
  position: relative;
}

.drop-preview .drop-info .drop-image {
  overflow: hidden;
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.collection-preview .collection-info .collection-logo {
  overflow: hidden;
  height: 18px;
  width: 18px;
}

.drop-preview .drop-info .drop-image .drop-link,
.collection-preview .collection-info .collection-logo .collection-link {
  display: block;
}

.drop-preview .drop-info .drop-name,
.collection-preview .collection-info .collection-title {
  flex-grow: 1;
  border-radius: 3px;
}

.collection-preview .collection-info .collection-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.collection-preview .collection-info .collection-title:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .8;
  background-color: white;
}

.drop-preview .drop-info .drop-name h4,
.collection-preview .collection-info .collection-title h4 {
  max-width: 360px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  padding: 2px;
  position: relative;
}

.collection-preview .collection-info .collection-title h4 {
  max-width: 320px;
}

.collection-preview .collection-info .collection-title .collection-count {
  aspect-ratio: 1 / 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-items: center;
  font-weight: bold;
  font-size: 60%;
  margin-right: .5rem;
  position: absolute;
  right: 0;
  background-color: #EEE;
  color: black;
  border-radius: 50%;
  padding: .2rem .5rem;
}

.drop-preview .drop-info .drop-select,
.collection-preview .collection-info .collection-select {
  text-align: center;
}

.drop-preview .drop-info .drop-select input,
.collection-preview .collection-info .collection-select input {
  -webkit-appearance: none;
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: .15rem;
  margin: 0 .5rem;
  border: .15rem solid #6692A4;
  outline: none;
  cursor: pointer;
}

.drop-preview .drop-info .drop-select input:checked,
.collection-preview .collection-info .collection-select input:checked {
  background-color: #6692A4;
  position: relative;
}

.drop-preview .drop-info .drop-select input:checked::before,
.collection-preview .collection-info .collection-select input:checked::before {
  content: "\2714";
  font-size: 1.1rem;
  color: white;
  position: absolute;
  right: 0;
  top: -3px;
}

.drop-preview .drop-info .drop-select input:disabled,
.collection-preview .collection-info .collection-select input:disabled {
  border-color: #c0c0c0;
  background-color: #c0c0c0;
}

.drop-preview .drop-info .drop-select input:focus,
.collection-preview .collection-info .collection-select input:focus {
  box-shadow: 0 0 .5rem #007a7e;
}
